body {
    /*Контент занимает 70% ширины страницы.*/
    margin: 0 15% 0 15%;
    width: 70%;
    /*Контент выровнен по середине.*/
    align-items: center;
}
h1, h2, h3, h4, h5, h6 {
    /*Заголовки всех уровней выполнены шрифтом без засечек.*/
    font-family: Arial, Helvetica, sans-serif;
    /*Верхний отступ заголовков установлен больше нижнего (например, 1.5em), чтобы соблюсти правило внутреннего и внешнего.*/
    font-size: 1.5em;
}
h1 {
    /*Заголовки первого уровня имеют размер 32px.*/
    font-size: 32px;
}
table, tr, td, th {
    /*Таблицы имеют непрерывные границы чёрного цвета толщиной 1px.*/
    border: 1px solid #333;
}
figcaption {
    /*Подписи под картинками выполены курсивом.*/
    font-style: italic;
}
.img {
    /*Картинки обтекаются текстом. Картинки справа, текст слева.*/
    float: right; 
    margin: 0 0 15px 15px;
}