.header__main {
  background-color: #007765;
  height: 84px;
}

.header__container {
  margin: 0 54px 0 55px;
}

.header__logo {
  width: 184px; height: 45.04px; background:url('../img/Vector.svg'); top left right bottom: no-repeat;
  margin: ;
}